body{
	font-size: 16px;
	color: GRAY;
	background-color: #cb4434;
	font-family: Arial, sans-serif;
}

/** HEADER **/
#header-nav{
	background-color: #fff;
	border-radius: 0;
	border: 0;
}

#logo-img{
	background: url('../images/logo-umbistro.png') no-repeat;
	background-position: center;
	width: 265px;
	height: 67px;
	margin: 10px 5px 10px 0;
}
.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{ /*restaurant name*/
	color: #b8b0af;
	font-size: .5em;
	text-transform: uppercase;
	margin-top: 35px;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-brand p{
	color: #b8b0af;
	text-transform: uppercase;	
	font-size: .46em;
	margin-top: 35px;
}
.navbar-brand p span{
	vertical-align: middle;
}

#nav-list{
	margin-top: 25px;
}
#nav-list a{
	color: #cb4434;
	text-align: center;
}
#nav-list a:hover{
	background:#e7e7e7;
	border-radius: 5px;
}
#nav-list a span{
	font-size: 1.2em;
}
#phone{
	margin-top: 5px;
}
#phone a{
	text-align: right;
	padding-bottom: 0;
}
#phone div{
	color: gray;
	text-align: right;
	padding-right: 15px;
	font-size: .75em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #cb4434;
}
.navbar-header button.navbar-toggle{
	clear: right;
	padding: 6px;
}
.navbar-header button .icon-bar{
	width: 12px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 2px;
}
.container .jumbotron{
	box-shadow: 0 0 50px #3b0c06;
	border: 2px solid #570e05;
}

/*LARGE DEVICES*/
@media (min-width: 1200px){
	.container .jumbotron{
		background: url('../images/1200.png') no-repeat;
		height: 428px;
		
	}
}
/*MEDIUM DEVICES*/
@media (min-width: 992px) and (max-width: 1199px){
	.container .jumbotron{
		background: url('../images/992.png') no-repeat;
		height: 460px;
	}

}
/*SMALL DEVICES*/
@media (min-width: 768px) and (max-width: 991px){
	.container .jumbotron{
		background: url('../images/768.png') no-repeat;
		height: 420px;
	}
	

}

/*EXTRA SMALL DEVICES*/
@media (max-width: 767px){
	#logo-img{
		background: url('../images/logo-umbistro-small.png') no-repeat;
		background-position: center;
		width: 165px;
		height: 42px;
		margin: 10px 5px 10px 0;
	}	
	.navbar-brand{
		padding: 0;
		margin: 0;
		visibility: hidden;
		height: 0;
		width: 0;
	}
	a.btn{
		color: white;
		border-radius: 3px;
		background-color: #910e1a;
		margin: -10px auto 10px auto;
	}
	#collapsable-nav a{
		font-size: .95em;
	}
	#collapsable-nav a span{
		font-size: 1em;
		margin-right: 5px;
	}
	.container .jumbotron{
		margin-top: 5px;
		padding: 0;
	}

}